 .container {
  background: transparent;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
} 
.card {
  /* background-color: ;  */
  max-width: 800px;
  box-shadow: 2px 2px 5px lightblue, -1px -1px 5px lightblue;
  border-radius: 3px;
  display: grid;
  /*grid-template-column: repeat(5, 1fr); */
}
.card .img-container {
  /* width: 310px;   */
  height: 100%;
  grid-column: 2;
  background-color: #c1b7b4;
  /* background-image: url(../kuvat/ryhmä.jpg); */
  background-size: cover;
  background-position: center center;
}
.card-content {
  grid-column: 3 / 5;
  padding: 10px 30px;
  border-left: 1px solid #ccc;
  
}
h2 {
  text-transform: uppercase;
  color: #fff;
}
h1 {
  margin-bottom: 0;
  color: lightblue;
}
p{
  color: F9F7F8;
}
.card-content .author {
  border-top: 1px solid #cdcdcd;
  font-weight: 700;
  margin-top: 25px;
  padding: 25px 0 10px 0;
  color: #fff;
}

@media only screen and (max-width:600px) {
  .card {
    display: block;
  }
  .card .img-container {
    height: 250px;
    width: 100%;
  }
  .card-content {
    border: 0;
    border-top: 1px solid #ccc;
  }
}