#menu-icon{
  color: #fff;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

@media(max-width:1220px){
  header{
      padding: 40px 3%;
      transition: .3s;
  }
}
@media(max-width:1040px){
  #menu-icon{
      display: block;
  }
  .navbar{
      position: absolute;
      top: 100%;
      right: -100%;
      width: 250px;
      height: 29vh;
      background: lightblue;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      transition: all .42s;
  }
  .navbar a{
      display: block;
      margin: 13px 0;
      padding: 0 25px;
      transition: all .42s;
  }
  .navbar a:hover{
      color: #000;
      transform: translateX(5px);
  }
  .navbar.open{
      right: 3%;
  }
}
