*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header{
  min-height: 100vh;
  background-image: url("../kuvat/taivas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.navbar{
  width: 100%;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
}

.navbar .logo{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0px;
}

.menu ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  max-width: 150px;
}

.menu ul li{
  list-style: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.menu ul li a{
  text-decoration: none;
  font-size: 25px;
  color: aqua;
}

.menu ul li:hover{
  background-color: whitesmoke;
  transition: 0.5s ease;
}

.btn1{
  position: absolute;
  top: 28px;
  right: 60px;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  height: 22px;
  width: 32px;
}

.btn1 .bar{
  height: 4px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.content{
 width: 100%;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
 
 padding: 0px 60px;
}

.content h1{
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1.5;
  
}

.content p{
  color: wheat;
  font-size: 19px;
  margin-top: 12px;
  line-height: 1.5;
}

.content .btn {
  margin-top: 27px;
}

.content .btn a{
  text-decoration: none;
  font-size: 15px;
  color: azure;
  display: inline-block;
  background-color: darkblue;
  border-radius: 3px;
  padding: 12px 3px;
  letter-spacing: 1.5px;
}
.content .btn a:hover{
  background-color: aqua;
  transform: 0.5s ease;
}

@media screen and (max-width: 768px) {
  .btn1{
    display: flex;
    z-index: 2;
  }
  .menu ul{
    width: 100%;
    background-color: darkgray;
    flex-direction: column;
    align-items: center;
    padding-right: 0px;
    text-align: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .menu{
    display: none;
    width: 100%;
  }
  .menu ul li{
    margin: 10px 0px;
  }
  .menu ul li a{
    font-size: 19px;
  }
  .navbar .logo{
    font-size: 29px;
  }
  .content .h1{
    font-size: 40px;
  }
  .content p{
    font-size: 16px;
  }
  .content .btn a{
    font-size: 17px;
    padding: 9px 15px;
  }
  .menu.active{
    display: flex;
  }

}